.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 400px;
	height: 600px;
	border-radius: 20px;
	background-color: #fff;
	font-family: "Poppins", sans-serif;
	margin: auto;
	box-shadow: 0px 4px 8px 0px #bdbdbd;
	cursor: pointer;
}

.card-container:hover {
	background-color: #baf8ff23;
	opacity: 0.9;
	transition: all 0.25s ease;
}

.top {
	text-align: center;
}

.middle {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 360px;
}

.price {
	line-height: 0;
}
.subscribe-button {
	height: 40px;
	width: 200px;
	border-radius: 10px;
	border: none;
	font-size: 1em;
	font-weight: 800;
	background-color: #08e6ff;
	color: #fff;
	box-shadow: 0px 4px 8px 0px #07d1e8;
	cursor: pointer;
	margin-bottom: 16px;
	letter-spacing: 1px;
}

.subscribe-button:hover {
	background-color: #07d1e8;
	opacity: 0.8;
	color: white;
	transform: scale(1.05);
	transition: all 0.25s ease;
}

.bottom {
	text-align: center;
}
