.form-container {
	width: 400px;
	height: 600px;
	border-radius: 20px;
	margin: 140px auto 0px auto;
	z-index: 1;
	position: absolute;
	top: 0;
	background-color: #07d1e8;
}

.selected-package {
	font-size: 2.5em;
	font-weight: 600;
	color: #fff;
	text-align: center;
	padding: 0 8px;
}
form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: center;
}

.form {
	background-color: aliceblue;
	margin-top: 20px;
	background-color: #07d1e8;
}

input[type="text"] {
	box-sizing: border-box;
	border-radius: 20px;
	width: 250px;
	display: flex;
	justify-content: center;
	align-content: space-around;
	padding: 5px;
	margin: 10px 25%;
	border: none;
}

.submit-button-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

.submit-form {
	height: 40px;
	width: 200px;
	border-radius: 10px;
	border: none;
	font-size: 1em;
	font-weight: 800;
	background-color: #fff;
	color: #08e6ff;
	box-shadow: 0px 4px 8px 0px #07d1e8;
	margin-top: 24px;
}
